################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/.vs/ApiFinanciera/FileContentIndex/17d72fb5-f51c-46ca-8920-a3242fc083fa.vsidx
